#root {
  width: 100vw;
  height: 100vh;
  /* background: radial-gradient(#5a47ce, #232323 80%); */
  background: white;
}

body {
  margin: 0;
  background-color: #000;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}
